# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
package-lock.json
.env
schema.graphql
.graphqlconfig

# dependencies
node_modules

# IDE specific
.vscode
.idea
*.iml
